.jumbotron {
  text-align: center;
}

.homeLink
{
	float:left;
}

.createCustomer, .userManagement, .index, .delete, .updateCustomer
{
	margin-left:25%;
	margin-right:25%;
}

.table thead th
{
	text-align:center;
}