.jumbotron {
  text-align: center;
}

.homeLink
{
	float:left;
}

.createCustomer, .userManagement, .index, .deleteCustomer, .updateCustomer, .fileUpload, .fileManagement, .manageFiles, .manageUsers, .deleteFile, .portalHome
{
	margin-left:25%;
	margin-right:25%;
}

.table thead th
{
	text-align:center;
}